@model VehicleDefinitionDto

<h1>
    Model Güncelleme : @Model.Id ID'li Kayıt
</h1>

<div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-5">

        @if (ViewData.ContainsKey("SuccessMessage"))
        {
            @MessageHelper.DisplaySuccess(ViewBag[Keys.SuccessMessage])
            ;
        }
        @if (ViewData.ContainsKey("ErrorMessage"))
        {
            @MessageHelper.DisplayError(ViewBag.ErrorMessage)
        }

        <form asp-controller="VehicleDefinitions" asp-action="Update" method="post">
            <div class="mb-3">
                <label asp-for="VehicleModelId" class="form-label">Marka Adı</label>
                <select asp-for="VehicleModelId" asp-items="ViewBag.VehicleMakes" class="form-select">
                    <option value="">Lütfen Seçiniz</option>
                </select>

                <div class="mb-3">
                    <label asp-for="VehicleModelId" class="form-label">Model Adı</label>
                    <select asp-for="VehicleModelId" asp-items="ViewBag.VehicleModels" class="form-select">
                        <option value="">Lütfen Seçiniz</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="Year" class="form-label">Year</label>
                    <input asp-for="Year" type="text" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="SeatingType" class="form-label"> Koltuk Tipi </label>
                    <select asp-for="SeatingType" asp-items="ViewBag.SeatingTypes" class="form-select">
                        <option value="">Lütfen Seçiniz</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="LineCount" class="form-label">Toplam Koltuk Sırası</label>
                    <input asp-for="LineCount" type="text" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="FuelType" class="form-label"> Yakıt Tipi </label>
                    <select asp-for="FuelType" asp-items="ViewBag.FuelTypes" class="form-select">
                        <option value="">Lütfen Seçiniz</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Ek Hizmetler</label>
                    @foreach (ValueNameObject obj in ViewBag.Utilities)
                    {
                        <div>
                            <input type="checkbox" id="utility_@obj.Value" name="Utilities" value="@obj.Value">
                            <label for="utility_@obj.Value">@obj.Name</label>
                        </div>
                    }
                </div>

            </div>
            <div class="mb-3">
                <div class="float-end">
                    <button class="btn btn-success" type="submit">
                        Güncelle
                    </button>
                    <button asp-controller="VehicleDefinitions" asp-action="Index" class="btn btn-warning">
                        İptal
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>